
$dominantColor: #D64736;
$listColor: #333;
$textColor: #333;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  min-height: 100vh;

  .list {
    order: 1;
    margin: 0;
    padding: 0;
    background: color($listColor lightness(25%));
    border-right: 2px solid color($dominantColor);
    ul {
      font-size: 1.2em;
      padding: 0;
      margin: 0;
      a {
        color: color($textColor contrast(60%));
        text-decoration: none;
      }
      .active {
        color: color($textColor contrast(90%));
        li {
          background: color($dominantColor a(80%));
        }
      }
      li {
        list-style-type: none;
        padding: 10px 20px;
        &:hover {
          background: color($dominantColor a(20%));
        }
      }
    }
    img {
      position: fixed;
      bottom: 0;
      height:40px;
      width:40px;
      padding: 10px;
    }
  }

  .content {
    position: relative;
    min-height: 90%;
  }

  .stats {
    flex: .1;
    min-height: 25%;
    background-color:pink;
  }

  .right_side {
    flex: 3;
    order: 2;
    flex-direction: column;
  }

  .amber_alert {
    background-color: color($listColor lightness(25%));
    color: #d6d6d6;
    min-height: 10%;
    justify-content: flex-end;
  }

  .message {
    textarea {
      border-radius: 6px;
      margin: 0px 6px 0px 6px;
    }
    input {
      border-radius: 6px;
    }
  }
}
