.flexWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;

  .left {
    flex: 1;
    order: 1;
    padding: 20px;
  }

  .right {
    flex: 1;
    order: 2;
  }

  form {
    margin: 20px auto;
    position: relative;
    height: 30px;

    input {
      height: 100%;
      font-size: 1.4em;
      color: #D64736;
    }

    input[type=text] {
      width: 76%;
      position: absolute;
      top: 0;
      left: 0;
    }

    input[type=submit] {
      width: 20%;
      position: absolute;
      right: 0;
      top: 2px;
      border: 1px solid #ddd;
      background: #fff;
    }
  }
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
